:root {
    --accent-color: #2196F3;
    --secondary-color: #757575;
    --white-color: #FFFFFF;
    --background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.button {
    cursor: pointer;
    background-color: #F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    border: none;
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
}

p {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
}

.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 1.5px;

}
.logo-web {
    color: var(--accent-color);
    

}

.logo-studio {
    color: #000000;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;

}

.link:hover, 
.link:focus {
    color: var(--accent-color);
}

.link.current {
    color: var(--accent-color);
}

.header {
    border-bottom: solid 1px;
    border-color: #ECECEC;

    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    padding: 0, 0;
}

.navigation {
    display: flex;
    gap: 50px;
}

.header-contacts {
    display: flex;
    gap: 40px;
}

.header-contacts-item {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.header-contacts-item:hover,
.header-contacts-item:focus {
    color: var(--accent-color);
    
}

.hero {
    background-color: var(--background-color);


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.hero-title {
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
    align-items: center;

    
}

.hero-button {
    font-weight: 700;
    line-height: 1.8;
    background-color: var(--accent-color);
    color: var(--white-color);

    width: 200px;
    height: 50px;
}

.advantages-title {
    display: none;
}

.advantages-list {
    display: flex;
    gap: 30px;
    width: 1170px;
    height: 101px;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.advantages-item {
    width: 270px;
    height: 75px;
}

.doing-list {
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.team-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.team-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name {
    font-size: 16px;
    font-weight: 500;
}
.job-title {
    font-size: 16px;
    line-height: 1.2;
}

.footer {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

.logo-studio-footer {
    color: var(--white-color);
}

.footer-address {
    color: var(--white-color);
}

.footer-contacts-item {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1 px;
    color: var(--white-color);
    opacity: 0.6;
}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 38px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 2px;
}

.project-subvision {
    font-size: 16px;
    line-height: 1.8;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px;
    border-color: #EEEEEE;
}